*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 0.813rem;
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--l-blue);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 600;
}

h3 {
    margin: 0;
    font-size: 0.813rem;
    line-height: 1.5;
    font-weight: 600;
}

p {
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}