:root {
    --violet: hsl(263, 55%, 52%);
    --h-violet: hsl(265, 63%, 67%);
    --d-blue: hsl(217, 19%, 35%);
    --dd-blue: hsl(219, 29%, 14%);
        
    --l-gray: hsl(0, 0%, 81%);
    --l-blue: hsl(210, 46%, 95%);

    --white: hsl(0, 0%, 100%);
}